export PATH=$PWD/LLVM-ET-Arm-18.1.3-Linux-AArch64/bin:$PATH
export PATH=$PWD/arm-gnu-toolchain-13.3.rel1-aarch64-arm-none-eabi/bin:$PATH
export PATH=$PWD/python/bin:$PATH
export CONAN_HOME=$PWD/.conan
conan config install conan-config/
